.movie-card-text-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.movie-card-text {
  background-color: var(--card-bg);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  color: var(--text-light);
  width: 180px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease, background-color 0.3s, color 0.3s;
}

.movie-card-text:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.05);
}

.movie-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}
